*{
  box-sizing: border-box;
}

body {
  margin: 0;
  // background-color: rgba(5, 5, 6, 0.9);
  background-color: #fff;
  color: #000;
  padding: 20px 40px;
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: #000;
  text-decoration: none;
}